<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Hi Eureka</title>
</head>
<body>
<p>Welcome Hi Eureka!</p>
<p>You can now log in to your account using either of these two methods:</p>
<ol>
    <li>Go back to your app and enter this PIN: <strong><%= pin %></strong></li>
    <li>Click <a href="<%= link %>">here</a> to be redirected to a page that will automatically log you in to your account.</li>
</ol>
<p>We hope you enjoy using our app.</p>
<p>Regards,</p>
<p>The Hi Eureka Team</p>
</body>
</html>